[api]
secret = ""

[databases]
daily = ""
areas = ""
tasks = ""
sessions = ""
notes = ""
accounts = ""
transactions = ""
plantarium = ""
garden = ""
resources = ""

[blocks]
todo = ""

[default_icons]
daily = ""                                                                                                                                                                               
areas = ""                                                                                                                                                                                          
tasks = ""                                                                                                                                                                                          
sessions = ""                                                                                                                                                                                     
notes = ""                                                                                                                                                                                        
accounts = ""                                                                                                                                                                                      
transactions = ""
plantarium = ""
garden = ""
resources = ""
